.main{
  position:absolute;
  width: 400px;
  height: 300px;
  border:1px solid black;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;

  &__user{
    font-weight: bold;
  }

  &__status{
  }

  &__status--green{
    color:green;
  }

  &__environment{
    position: absolute;
    bottom: 0;
  }

}
